<div class="container">
  <h2>Lista Ticket Assistenza</h2>
  
  <div class="ticket-grid">
    @for (t of tickets(); track t.id) {
      <div class="ticket-card">
        <!-- Parte superiore: Informazioni -->
        <div class="ticket-info">
          <h3>{{ t.title }}</h3>
          <p>{{ t.description }}</p>
          <!-- Usiamo [ngClass] per dare colori diversi in base allo stato -->
          <span class="status" [class]="t.status.toLowerCase()">
            {{ t.status }}
          </span>
        </div>

        <div class="btn-action">
          <button (click)="workCompleted(t)" class="btn-icon" [disabled]="t.status === 'COMPLETED'">
            ✔
          </button>
    
          <button (click)="deleteTicket(t.id!)" class="btn-icon">
            🗑
          </button>
        </div>
      </div>
    } @empty {
      <p class="empty-msg">Nessun ticket presente nel sistema.</p>
    }
  </div>
</div>
<div class="form-container">
  <h3>Apri un nuovo ticket</h3>

  <div class="form-group">
    <label>Oggetto</label>
    <input [(ngModel)]="newTicket.title" class="input-field" placeholder="Cosa non funziona?">
  </div>

  <div class="form-group">
    <label>Descrizione</label>
    <textarea [(ngModel)]="newTicket.description" class="input-field" placeholder="Descivi il problema"></textarea>
  </div>

  <button (click)="addTicket()" class="btn-submit">
    Invia segnalazione
  </button>

</div>

<hr>

